<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
  <meta name="description" content={{htmlWebpackPlugin.options.description}}>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
      <div class="alert alert-primary" role='alert'>
          This is primary alert

      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuOption">
          <button class="btn dropdownMenuButtonToggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
              Drop Down Button
          </button>
          <a class="dropdown-item" href="#"> Action</a>
          <a class="dropdown-item" href="#"> Another Action</a>
          <a class="dropdown-item" href="#"> More Action</a>

      </div>
      </body>
  
</html>